
<section class="content container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div id="tableList">
				<div class="right_col" role="main">
					<div class="" style="margin-top:20px;">
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="x_panel">
									@*<div class="row">
										<div class="col-md-6" id="add_btn_area"></div>
										<div class="col-md-6" id="search_area">
											<form action="#" method="get" class="sidebar-form-dashbord">
												<div class="input-group">
													<input type="text" name="searchString" id="searchString" class="form-control" placeholder="Search..." onkeyup="SearchString()">
													<span class="input-group-btn">
														<button type="submit" name="search" id="search-btn" class="btn btn-flat btn-theme-table-color">
															<i class="fa fa-search"></i>
														</button>
													</span>
												</div>
											</form>
										</div>
									</div>*@

									<br />
									<div class="form-group">
										<div class="clearfix"></div>
										<div class="x_content" id="dvContainer">
											<table id="dataTable" class="table table-bordered  table-hover table-striped" cellspacing="0" width="100%">
												<thead class="thead-theme">
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>